Django
# we need South >= 1.0 so that is finds migrations in south_migrations
South>=1.0
django-crispy-forms
django-nose
django-registration-redux
pillow
pyLibravatar
pydns
pytz
requests
# markdown 2.5 drops support for Python 2.6
# Django 1.7 doesn't support 2.6 either, so we can drop this restriction
# when we move to Django 1.7
markdown<2.5
django-medusa
# markitup 2.2 breaks on python 2 with module level imports, which we
# need to use for markdown, so avoid using that
django-markitup<=2.1,>2.2
