Django
South
django-crispy-forms
django-nose
# Force the 1.7 compatible version of django-registration until the
# pypi situation gets sorted out.
django-registration-redux
pillow
pyLibravatar
pydns
pytz
requests
markdown
django-medusa
# markitup 2.2 breaks on python 2 with module level imports, which we
# need to use for markdown, so avoid using that
django-markitup<=2.1,>2.2
