{% extends "wafer/base.html" %}
{% block content %}
{% with profile=object.get_profile %}
<div class="row">
    {% if profile.photo %}
    <div class="span2">
        <img src="{{ MEDIA_URL }}{{ profile.photo }}">
    </div>
    <div class="span10">
    {% else %}
    <div class="span12">
    {% endif %}
        {% if user = object or user.is_staff %}
        <div class="pull-right">
            <a href="{% url 'wafer_user_edit' object.username %}" class="btn">{% trans 'Edit User' %}</a>
            <a href="{% url 'wafer_user_edit_profile' object.username %}" class="btn">{% trans 'Edit Profile' %}</a>
        </div>
        {% endif %}
        {% spaceless %}
        <h1>
            {% if profile.homepage %}
                <a href="{{ profile.homepage }}">
            {% endif %}
            {{ object.get_full_name|default:object.username }}
            {% if profile.homepage %}
                </a>
            {% endif %}
        </h1>
        {% if profile.twitter_handle %}
        <p>
            <a href="https://twitter.com/{{ profile.twitter_handle }}" class="twitter-follow-button" data-show-count="false">
                {% blocktrans with handle=profile.twitter_handle %}Follow @{{ handle }}{% endblocktrans %}
            </a>
        </p>
        {% endif %}
        {% if profile.github_username %}
        <p>
            <a href="https://github.com/{{ profile.github_username }}">
                {% blocktrans with username=profile.github_username %}GitHub: {{ username }}{% endblocktrans %}
            </a>
        </p>
        {% endif %}
        {% endspaceless %}
    </div>
</div>
{% if profile.bio %}
<div class="well">
{{ profile.bio }}
</div>
{% endif %}
{% endwith %}
{% endblock %}
{% block extra_foot %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
