{% extends "wafer/base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Users:' %}</h1>
{% for user in user_list %}
<a href="{% url 'wafer_user_profile' username=user.username %}">
    <div class="well">
        {{ user.userprofile.display_name }}
    </div>
</a>
{% endfor %}
{% if is_paginated %}
<section class="wafer wafer-pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="{% url 'wafer_users_page' page=page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li><a href="{% url 'wafer_users_page' page=page %}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="{% url 'wafer_users_page' page=page_obj.next_page_number %}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</section>
{% endif %}
{% endblock %}
