{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{% trans "Users" %} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<h1>{% trans 'Users:' %}</h1>
<ul class="list-group">
  {% for user in user_list %}
    <a href="{% url 'wafer_user_profile' username=user.username %}">
      <li class="list-group-item">
        {{ user.userprofile.display_name }}
      </li>
    </a>
  {% endfor %}
</ul>
{% if is_paginated %}
  <section class="wafer wafer-pagination">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'wafer_users_page' page=page_obj.previous_page_number %}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><a class="page-link" href="#">&laquo;</a></li>
      {% endif %}
      {% for page in paginator.page_range %}
        <li class="page-item"><a class="page-link" href="{% url 'wafer_users_page' page=page %}">{{ page }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'wafer_users_page' page=page_obj.next_page_number %}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><a class="page-link" href="#">&raquo;</a></li>
      {% endif %}
    </ul>
  </section>
{% endif %}
{% endblock %}
