{% extends "wafer/base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if validation_errors %}
      <div class="messages alert alert-danger">
        <p><strong>{% trans "Validation errors:" %}</strong></p>
        <ul>
          {% for validation_error in validation_errors %}
            <li>{{ validation_error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="col-md-8">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ day.date }} (Day {{ day.id }})
      </button>
      <div class="dropdown-menu">
        {% for day in days %}
          <a class="dropdown-item" href="{% url 'admin:schedule_editor' day.id %}">
            {{ day.date }} (Day {{ day.id }})
          </a>
        {% endfor %}
      </div>
    </div>
    <h1>{% trans "Schedule Editor" %}</h1>
    <table class="table table-sm">
      <thead>
        <tr>
          <td></td>
          {% for venue in venues %}
            <th>{{ venue.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for slot in slots %}
          <tr>
            <th>
              {{ slot.name }}
              <br>
              <small>{{ slot.start_time }} - {{ slot.end_time }}</small>
            </th>
            {% for venue in slot.venues %}
              <td id="scheduleItem{{ venue.scheduleitem_id }}" data-venue="{{ venue.id }}" data-slot="{{ slot.id }}"
                  class="table-{% if venue.talk %}success{% elif venue.page %}info{% endif %} droppable {% if venue.talk or venue.page %}draggable{% endif %}"
                  data-scheduleitem-id="{{ venue.scheduleitem_id }}" data-talk-id="{{ venue.talk.id }}"
                  data-page-id="{{ venue.page.id }}"
                  data-type="{% if venue.talk %}talk{% elif venue.page %}page{% endif %}">
                {% if venue.scheduleitem_id %}
                  <button id="delete{{venue.scheduleitem_id}}"
                          data-id="{{ venue.scheduleitem_id }}"
                          type="button" class="close"
                          aria-label="Close">
                    <span aria-hidden="true">
                      &times;
                    </span>
                  </button>
                {% endif %}
                {% if venue.talk and venue.talk.cancelled %}
                  <del>{{ venue.title }} (Cancelled)</del>
                {% else %}
                  {{ venue.title }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="wafer-edit-schedule-bucket">
    <h2>Bucket</h2>

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="">
          <a href="#unassignedTalks"
             aria-controls="unassignedTalks" role="tab"
             data-toggle="tab">
            Unassigned Talks
          </a>
        </li>
        <li role="presentation" class="active">
          <a href="#allTalks"
             aria-controls="allTalks" role="tab"
             data-toggle="tab">
            All Talks
          </a>
        </li>
        <li role="presentation">
          <a href="#pages" aria-controls="pages" role="tab" data-toggle="tab">
            Pages
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane row"
             id="unassignedTalks">
          {% regroup talks_unassigned by talk_type.name as grouped_talks %}
          {% for type, talks in grouped_talks %}
            {% if type %}
               <span draggable="false" class="col-md-6 badge badge-secondary">
                  {{ type }}
               </span>
            {% endif %}
            {% for talk in talks %}
              <span draggable="true" class="col-md-6 badge badge-success draggable"
                    id="talk{{ talk.talk_id }}"
                    data-toggle="tooltip" data-placement="left"
                    title="{{ talk.title }}"
                    data-type="talk" data-talk-id="{{ talk.talk_id }}">
                {% if not talk.cancelled %}
                  {{ talk.title|truncatechars:20 }} ({{ talk.track|truncatechars:10 }})
                {% else %}
                  <del>{{ talk.title|truncatechars:12 }} (Cancelled)</del>
                {% endif %}
              </span>
            {% endfor %}
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane active row"
             id="allTalks">
          {% regroup talks_all by talk_type.name as grouped_talks %}
          {% for type, talks in grouped_talks %}
            {% if type %}
            <span draggable="false" class="col-md-6 badge badge-secondary">
               {{ type }}
            </span>
            {% endif %}
            {% for talk in talks %}
              <span draggable="true" class="col-md-6 badge badge-warning draggable"
                    id="talk{{ talk.talk_id }}"
                    data-toggle="tooltip" data-placement="left"
                    title="{{ talk.title }}"
                    data-type="talk" data-talk-id="{{ talk.talk_id }}">
                {% if not talk.cancelled %}
                  {{ talk.title|truncatechars:20 }} ({{ talk.track|truncatechars:10 }})
                {% else %}
                  <del>{{ talk.title|truncatechars:12 }} (Cancelled)</del>
                {% endif %}
              </span>
            {% endfor %}
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane row" id="pages">
          {% for page in pages %}
            <span draggable="true" class="col-md-6 badge badge-info draggable"
                  id="page{{ page.id }}"
                  data-toggle="tooltip" data-placement="left"
                  title="{{ page.name }}" data-type="page" data-page-id="{{ page.id }}">
              {{ page.name|truncatechars:24 }}
            </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/edit_schedule.js' %}"></script>
{% endblock %}
