{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{% trans "Schedule" %} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<section class="wafer wafer-schedule">
  {% if user.is_authenticated and user.is_staff %}
    <div class="float-right d-print-none">
      <a class="btn btn-secondary"
          href="{% url 'admin:schedule_editor' %}">
        {% trans "Edit schedule" %}
      </a>
    </div>
  {% endif %}
  <h1>
    {% trans "Schedule" %}
  </h1>
  {% block schedule_grid %}
  {% include "wafer.schedule/static_schedule.html" %}
  {% endblock %}
</section>
{% endblock %}
