{% if item.talk %}
  {% if item.talk.cancelled %}
    <del class="talk-cancelled">
  {% endif %}
  <a href="{{ item.get_url }}">{{ item.get_details|escape }}</a>
  <br>
  by {{ item.talk.get_authors_display_name }}
  {% if item.talk.cancelled %}
    </del>
  {% endif %}
{% elif item.get_url %}
  <a href="{{ item.get_url }}">{{ item.get_details|escape }}</a>
  {% if item.page and item.page.people.exists %}
    <br>
    by {{ item.page.get_people_display_names }}
  {% endif %}
{% else %}
  {{ item.get_details|escape }}
{% endif %}
