{% extends "wafer/base.html" %}
{% load i18n %}
{% block title %}{{ page.name }} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<div>
  {{ page.cached_render|safe }}
  {% if perms.pages.change_page %}
    <div class="clearfix d-print-none">
      <a href="{{ page.get_absolute_url }}?compare"
         class="float-right btn btn-secondary btn-lg"
         >{% trans 'Compare to Previous version' %}</a>
      <a href="{{ page.get_absolute_url }}?edit"
         class="float-right btn btn-secondary btn-lg">{% trans 'Edit' %}</a>
    </div>
  {% endif %}
</div>
{% endblock %}
