{% extends "wafer/base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
        {% for row in speaker_rows %}
            <div class="row">
                {% for user_profile in row %}
                    <div class="col-md-3">
                      <a href="{% url 'wafer_user_profile' username=user_profile.user.username %}">
                        <img class="thumbnail center-block" src="{{ user_profile.avatar_url }}">
                      </a>
                      <a href="{% url 'wafer_user_profile' username=user_profile.user.username %}">
                        <h3 class="text-center">
                            {{ user_profile.display_name }}
                        </h3>
                      </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
