{% extends 'wafer/base_form.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% block content %}
<section class="wafer wafer-talk-edit">
  {% if can_edit %}
    <h1>{% trans "Edit Talk" %}</h1>
    {% with corresponding_author_name=object.corresponding_author.userprofile.display_name %}
      {% url 'wafer_user_profile' username=object.corresponding_author.username as corresponding_author_url %}
      {% blocktrans %}
        <p>Submitted by <a href="{{ corresponding_author_url }}">{{ corresponding_author_name }}</a>.</p>
      {% endblocktrans %}
    {% endwith %}
  {% else %}
    <h1>{% trans "Talk Submission" %}</h1>
  {% endif %}
  {% if not can_edit and not can_submit %}
    {% blocktrans %}
      <em>Talk submission is closed</em>
    {% endblocktrans %}
  {% else %}
    {% crispy form %}
  {% endif %}
</section>
{% endblock %}
{% block extra_foot %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/markitup.js' %}"></script>
{% endblock %}
