{% extends "wafer/base.html" %}
{% load i18n %}
{% block content %}
<section class="wafer wafer-talks">
<h1>{% trans 'Talks' %}</h1>
<div class="wafer list">
    {% for talk in talk_list %}
    <div>
        {% if talk.pending %}
        <span class="label label-info" title="{% trans 'Under consideration' %}">{{ talk.status }}</span>
        {% elif talk.reject %}
        <span class="label label-danger" title="{% trans 'Not accepted' %}">{{ talk.status }}</span>
        {% elif talk.cancelled %}
        <span class="label label-warning" title="{% trans 'Talk Cancelled' %}">{{ talk.status }}</span>
        {% endif %}
        <a href="{{ talk.get_absolute_url }}">{{ talk.title }}</a>
        by
        <span class="author">{{ talk.get_authors_display_name }}</span>
        </a>
    </div>
    {% empty %}
    <p>No talks accepted yet.</p>
    {% endfor %}
</div>
</section>
{% if is_paginated %}
<section class="wafer wafer-pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="{% url 'wafer_users_talks_page' page=page_obj.previous_page_number %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        <li><a href="{% url 'wafer_users_talks_page' page=page %}">{{ page }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="{% url 'wafer_users_talks_page' page=page_obj.next_page_number %}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</section>
{% endif %}
{% endblock %}
