{% extends "admin/change_list.html" %}
{# This plugs our extra validation information into the end of the content
   block #}
{% block content %}
    {{ block.super }}
    <div class="validation_info">
       {% if missed_talks %}
       <div name="missed_talks">
          <h2>{% trans "Talks not assigned in the schedule" %}</h2>
          <ul>
             {% for talk in missed_talks %}
             <li>{{ talk }}</li>
             {% endfor %}
          </ul>
       </div>
       {% endif %}
       {% if missed_pages %}
       <div name="missed pages">
          <h2>{% trans "Pages not assigned in the schedule" %}</h2>
          <ul>
             {% for page in missed_pages %}
             <li>{{ page }}</li>
             {% endfor %}
          </ul>
       </div>
       {% endif %}
       {% if errors %}
       <div name="errors">
          <h2>{% trans "Errors in the schedule" %}</h2>
          {% if errors.clashes %}
          <h3>{% trans "Clashes" %}</h3>
          <ul>
             {% for pos, items in errors.clashes.iteritems %}
             <li>{{ pos.0 }} at {{ pos.1.get_start_time|time:"H:i" }} --
                 {% for item in items %}
                     {{ item.get_title }},
                 {% endfor %}
             </li>
             {% endfor %}
          </ul>
          {% endif %}
          {% if errors.validation %}
          <h3>{% trans "Validation errors" %}</h3>
          <ul>
             {% for item in errors.validation %}
             <li>{{ item.get_title }}</li>
             {% endfor %}
          </ul>
          {% endif %}
          {% if errors.validation %}
          <h3>{% trans "Duplicates in the schedule" %}</h3>
          <ul>
             {% for item in errors.duplicates %}
             <li>{{ item.get_title }}</li>
             {% endfor %}
          </ul>
          {% endif %}
       </div>
       {% endif %}
    </div>
{% endblock %}
