{% extends "admin/change_list.html" %}
{% load i18n %}
{# This plugs our extra validation information into the end of the content
   block #}
{% block content %}
    {{ block.super }}
    <div class="validation_info">
       {% if errors %}
       <div name="errors">
          <h2>{% trans "Errors in the slots" %}</h2>
          {% block displayerrors %}
          {% if errors.overlaps %}
          <h3>{% trans "Overlapping slots" %}</h3>
          <ul>
             {% for item in errors.overlaps %}
             <li>{{ item }}</li>
             {% endfor %}
          </ul>
          {% endif %}
          {% endblock %}
       </div>
       {% endif %}
    </div>
{% endblock %}
