{% extends 'wafer/base.html' %}
{% load crispy_forms_tags %}
{% load wafer_crispy %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <h2>{% trans 'Log in' %}</h2>
            {% wafer_form_helper 'wafer.registration.forms.LoginFormHelper' as form_helper %}
            {% crispy form form_helper %}
        </div>
        <div class="span6">
            <h2>{% trans 'Sign up' %}</h2>
            {% url 'registration_register' as signup_url %}
            {% blocktrans %}
            Not registered? Please <a href="{{signup_url}}">sign up</a>.
            {% endblocktrans %}
            {% if WAFER_GITHUB_CLIENT_ID %}
            <h2>{% trans 'Social Log in / Sign up' %}</h2>
            <ul>
                {% url 'wafer.registration.views.github_login' as redirect_url %}
                <li><a href="{{ redirect_url }}">GitHub</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
