{% extends 'wafer/base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Account creation almost complete' %}</h1>
<p>
{% blocktrans trimmed %}
  Thank you for creating an account for {{ WAFER_CONFERENCE_NAME }}.
  We have sent you an e-mail.
  Please follow the instructions in it to activate your account.
{% endblocktrans %}
</p>
<p>
{% blocktrans trimmed %}
  Note that registration for the conference is a separate step.
{% endblocktrans %}
{% blocktrans trimmed %}
  You can register after your account is activated.
{% endblocktrans %}
</p>
{% endblock %}
