{% extends "wafer/base.html" %}
{% block content %}
<h1>{% trans "Registrations" %} {{ username }}</h1>
{% for attendee in object %}
<div>
   {{ attendee.name }} {{ attendee.email }}
   {% if attendee.waitlist %}
      {% blocktrans %}
      Currently the waitlist. Added to the waitlist on
      {{ attendee.waitlist_date.date.isoformat }}.
      {% endblocktrans %}
   {% else %}
      {% for item in attendee.items.all %}
         {{ item.name }}, {{ item.price }}
      {% endfor %}
   {% endif %}
   {% if can_edit %}
   <div class="pull-right">
       <a href="{% url 'wafer_registration_edit' attendee.pk %}" class="btn btn-default">{% trans 'Edit' %}</a>
   </div>
   {% endif %}
</div>
{% endfor %}
{% endblock %}
