{% extends 'wafer/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1>{% trans "Confirm Attendee Deletion" %}</h1>
<div class="alert alert-danger">
    {% blocktrans with attendee_name=object.name attendee_email=object.email attendee_url=object.get_absolute_url %}
    You are about to cancel the registration for
    <a href="{{ attendee_url }}">"{{ attendee_name }}"</a> (email address {{ attendee_email }}.<br>
    This cannot be undone.
    {% endblocktrans %}
</div>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="{% trans 'Confirm Deletion' %}">
</form>
{% endblock %}
