{% extends 'wafer/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ object.get_name }}</h1>

<dl>
  <dt>{% trans "Date and time" %}:</dt>
  <dd>
      {% blocktrans with date=object.start|date start_time=object.start|time end_time=object.end|time %}
      {{date}} from {{start_time}} to {{end_time}}
      {% endblocktrans %}
  </dd>
  <dt>{% trans "Registered volunteers" %} ({{ object.nbr_volunteers }}/{{ object.get_nbr_volunteers_max }}):</dt>
  <dd>
      {% if object.nbr_volunteers %}
      <ul>{% for volunteer in object.volunteers.all %}<li>{{ volunteer.user.get_full_name }}</li>{% endfor %}</ul>
      {% endif %}
  </dd>
  {% if object.get_category %}
  <dt>{% trans "Category" %}:</dt>
  <dd>{{ object.get_category }}</dd>
  {% endif %}
  {% if object.talk %}
  <dt>{% trans "Talk" %}:</dt>
  <dd><a href="{% url 'wafer_talk' object.talk.pk %}">{{ object.talk.title }}</a></dd>
  {% endif %}
</dl>

<hr />

<p>{{ object.get_description }}</p>

<form action="" method="post">
    {% csrf_token %}
    {% if already_volunteer %}
    <button type="submit" class="btn btn-primary">{% trans "Remove from volunteers" %}</button>
    {% else %}
    {% if can_volunteer %}
    <button type="submit" class="btn btn-primary">{% trans "Volunteer" %}</button>
    {% endif %}
    {% endif %}
</form>
{% endblock %}
