{% extends 'wafer/base.html' %}
{% load i18n %}

{% block content %}
{% if preferred_tasks %}
<div>
    {% regroup preferred_tasks by date as task_list %}
    <h2>Preferred tasks</h2>

    {% for task in task_list %}
    <h3>{{ task.grouper }}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "When" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Volunteers" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Talk" %}</th>
            </tr>

            {% for item in task.list %}
            <tr>
                <td>{{ item.start_time }} {% trans 'to' %} {{ item.end_time }}</td>
                <td>
                    <a href="{% url 'wafer_task' item.pk %}">{{ item.name }}</a>
                </td>
                <td>{{ item.nbr_volunteers }}/{{ item.nbr_volunteers_max }}</td>
                <td>
                    {% if item.category %}
                    {{ item.category }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    {% if item.talk %}
                    <a href="{% url 'wafer_talk' item.talk.pk %}">{{ item.talk.title }}</a>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    {% endfor %}
</div>
{% endif %}

<div>
    <h2>All available tasks</h2>
    {% if object_list %}
    {% regroup object_list by date as task_list %}

    {% for task in task_list %}
    <h3>{{ task.grouper }}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "When" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Volunteers" %}</th>
                <th>{% trans "Category" %}</th>
                <th>{% trans "Talk" %}</th>
            </tr>

            {% for item in task.list %}
            <tr>
                <td>{{ item.start_time }} {% trans 'to' %} {{ item.end_time }}</td>
                <td>
                    <a href="{% url 'wafer_task' item.pk %}">{{ item.name }}</a>
                </td>
                <td>{{ item.nbr_volunteers }}/{{ item.nbr_volunteers_max }}</td>
                <td>
                    {% if item.category %}
                    {{ item.category }}
                    {% else %}
                    N/A
                    {% endif %}
                </td>
                <td>
                    {% if item.talk %}
                    <a href="{% url 'wafer_talk' item.talk.pk %}">{{ item.talk.title }}</a>
                    {% else %}
                    N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    {% endfor %}
    {% else %}
    <p>{% trans "No available tasks" %}.</p>
    {% endif %}
</div>
{% endblock %}
