{% extends 'wafer/base.html' %}
{% load i18n %}

{% block content %}
<h1>{{ profile.display_name }}</h1>

<h2>Preferred categories</h2>
{% if object.preferred_categories.all %}
<ul>
    {% for category in object.preferred_categories.all %}
    <li>{{ category }}</li>
    {% endfor %}
</ul>
{% else %}
<p>{% trans "No preferred categories" %}.</p>
{% endif %}

<h2>Tasks</h2>
{% if object.tasks.all %}
<table>
    <thead>
        <tr>
            <th>{% trans 'When' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Volunteers' %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Talk' %}</th>
        </tr>

        {% for task in object.tasks.all %}
        <tr>
            <td>{{ task.datetime }}</td>
            <td>
                <a href="{% url 'wafer_task' task.pk %}">{{ task.name }}</a>
            </td>
            <td>{{ task.nbr_volunteers }}/{{ task.nbr_volunteers_max }}</td>
            <td>{{ task.category }}</td>
            <td>
                {% if task.talk %}
                <a href="{% url 'wafer_talk' task.talk.pk %}">{{ task.talk.title }}</a>
                {% else %}
                {{ task.talk }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </thead>
</table>
{% else %}
<p>{% trans "No tasks" %}.</p>
{% endif %}
{% endblock %}
