{% extends "wafer/base.html" %}
{% load i18n %}
{% block content %}
<section class="wafer wafer-sponsorship-packages">
<h1>{% trans 'Sponsorship Packages' %}</h1>
<div class="wafer list">
    {% for package in sponsorshippackage_list %}
    <section class="wafer wafer-sponsorship-package
                    wafer-sponsor-{{ package.name.lower }}">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          {% if package.symbol %}
            {{ package.symbol }}
          {% endif %}
          {{ package.name }} ({{ package.currency }} {{ package.price|floatformat:0 }})
        </h2>
        {% if package.number_available %}
          <p>{% trans 'Total number available:' %} {{ package.number_available }}</p>
        {% endif %}
        <p>{% trans 'Packages claimed:' %} {{ package.number_claimed }}</p>
        <p>{{ package.short_description }}</p>
        {{ package.description.rendered|safe }}
      </div>
    </div>
    </section>
    {% empty %}
    <p>No sponsorship packages available yet.</p>
    {% endfor %}
</div>
</section>
{% endblock %}
