{% extends "wafer/base.html" %}
{% block content %}
<section class="wafer wafer-sponsorship-packages">
<h1>{% trans 'Sponsorship Packages' %}</h1>
<div class="wafer list">
    {% for package in sponsorshippackage_list %}
    <section class="wafer wafer-sponsorhip-package">
    <div>
        <h2>{{ package.name }} ({{ package.currency }} {{ package.price|floatformat:0 }})</h1>
        {% if package.number_available %}
            <p>{% trans 'Number available:' %} {{ package.number_available }}</p>
        {% endif %}
        <p>{{ package.short_description }}</p>
        {{ package.description.rendered|safe }}
    </div>
    <section>
    {% empty %}
    <p>No sponsorship packages available yet.</p>
    {% endfor %}
</div>
</section>
{% endblock %}
