{% extends "wafer/base.html" %}
{% load i18n %}
{% block content %}
<section class="wafer wafer-sponsors">
<h1>{% trans 'Sponsors' %}</h1>
<div class="wafer list">
    {% for sponsor in sponsor_list %}
    <section class="wafer wafer-sponsor">
    <div class="well">
      <h2 class="bs-callout bs-callout-default bs-callout-{{ sponsor.packages.first.name.lower }}">
         {% if sponsor.packages.first.name.lower == 'platinum' %}
            ★
         {% endif %}
         {% if sponsor.url %}
         <a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
         {% else %}
         {{ sponsor.name }}
         {% endif %}
        <small class="text-right">{{ sponsor.packages.first.name }}</small>
      </h2>
      {{ sponsor.description.rendered|safe }}
    </div>
    <hr>
    </section>
    {% empty %}
    <p>No sponsors yet.</p>
    {% endfor %}
</div>
</section>
{% endblock %}
