{% extends "wafer/base.html" %}
{% load i18n %}
{% load sponsors %}
{% block content %}
<section class="wafer wafer-sponsor">
<h1>
   {% if object.url %}
   <a href="{{ object.url }}">{{ object.name }}</a>
   {% else %}
   {{ object.name }}
   {% endif %}
</h1>
<div class="sponsor-detail">
  {% sponsor_tagged_image object "main_logo" as logo_url %}
  {% if logo_url != '' %}
    <div style="float: right; margin-left:5px;">
      <a href="{{ object.url }}">
        <img style="background: white; max-width:400px; max-height:200px;" src="{{ logo_url }}">
      </a>
    </div>
  {% endif %}
{{ object.description.rendered|safe }}
</div>
</section>
{% endblock %}
