{% extends "wafer/base.html" %}
{% load i18n %}
{% load sponsors %}
{% block title %}{% trans "Sponsors" %} - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<section class="wafer wafer-sponsors">
  <h1>{% trans 'Sponsors' %}</h1>
  <div class="wafer list">
    {% for sponsor in sponsor_list %}
      <section class="wafer wafer-sponsor
                      wafer-sponsor-{{ sponsor.packages.first.name.lower }}">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">
             {% if sponsor.symbol %}
               {{ sponsor.symbol }}
             {% endif %}
             {% if sponsor.url %}
               <a href="{{ sponsor.url }}">{{ sponsor.name }}</a>
             {% else %}
               {{ sponsor.name }}
             {% endif %}
             <small class="text-right">{{ sponsor.packages.first.name }}</small>
            </h2>
            {% sponsor_tagged_image sponsor "main_logo" as logo_url %}
            {% if logo_url != '' %}
              <div style="float: right; margin-left:5px;">
                <a href="{{ sponsor.url }}">
                  <img style="background: white; max-width:400px; max-height:200px;" src="{{ logo_url }}">
                </a>
              </div>
            {% endif %}
            {{ sponsor.description.rendered|safe }}
          </div>
        </div>
        <hr>
      </section>
    {% empty %}
      <p>No sponsors yet.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
