#main {
	/* bootstrap menu */
	padding-top: 60px;
} 

#profile-avatar {
	position: relative;
}

#profile-avatar img {
	position: relative;
}

#profile-avatar .popover {
	width: 20em;
}

#profile-avatar .popover-contents {
	display: none;
}

.profile-links li{
	list-style: none;
	display: inline-block;
	margin-left: 5px;
}

/* Icons float to the right of the menu */
.nav li.icon {
   float: right;
   padding: 0 0 0 5px;
   width: 29px;
   height: 29px;
}
