#main {
    padding-top: 1em;
}


#profile-avatar {
    position: relative;
}

#profile-avatar img {
    position: relative;
    margin-bottom: 10px;
}

#profile-avatar .popover {
    width: 20em;
}

#profile-avatar .popover-contents {
    display: none;
}

ul.profile-links {
    padding-left: 0px;
}

ul.profile-links li {
    list-style: none;
    margin-bottom: 0.25em;
}

.page-controls {
    border-top: 1px solid #bab6bd;
    padding-top: 1em;
    text-align: right;
}

.page-controls .btn {
    margin-left: 0.25em;
}

.wafer-visible {
}

.wafer-invisible {
    display: none;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.draggable {
    cursor: move;
    padding: 5px;
}

.droppable.over{
    border: 5px dashed #000;
}

/* Default to white background to make this more visually distinct */
#wafer-edit-schedule-bucket {
    background-color: white;
}

#wafer-edit-schedule-bucket li {
    margin: 0px 10px 10px 0px;
}

#wafer-edit-schedule-bucket .nav-tabs a.active {
  font-weight: bold;
}

#wafer-edit-schedule-bucket .badge {
    width: 100%;
    margin-bottom: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label.requiredField {
    font-weight: bold;
}

.wafer_schedule table {
  border: 1px solid #cccccf;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.wafer_schedule td, .wafer_schedule th {
  padding: 10px;
  border: 1px solid #cccccf;
  vertical-align: top;
}

/* This is a copy of the navbar-dark style, but we do it
 * using explicit css to make it possible to style without needing to
 * fiddle with the template */
.navbar {
   --bs-navbar-color: rgba(255, 255, 255, 0.55);
   --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
   --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
   --bs-navbar-active-color: #fff;
   --bs-navbar-brand-color: #fff;
   --bs-navbar-brand-hover-color: #fff;
   --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
   --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
