#profile-avatar {
	position: relative;
}

#profile-avatar img {
	position: relative;
	margin-bottom: 10px;
}

#profile-avatar .popover {
	width: 20em;
}

#profile-avatar .popover-contents {
	display: none;
}

.wafer-visible {
}

.wafer-invisible {
	display: none;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.draggable {
	cursor: move;
    padding: 5px;
}

.droppable.over{
    border: 5px dashed #000;
}

/* Default to white background to make this more visually distinct */
#wafer-edit-schedule-bucket {
   background-color: white;
}
