{% load i18n %}
{% with profile=object.userprofile %}
  {% block side_menu %}
    {% if can_edit %}
      <ul class="float-end btn-group btn-group-vertical profile-links">
        <li><a href="{% url 'wafer_user_edit' object.username %}" class="btn btn-secondary">{% trans 'Edit Account' %}</a></li>
        <li><a href="{% url 'wafer_user_edit_profile' object.username %}" class="btn btn-secondary">{% trans 'Edit Profile' %}</a></li>
        {% if WAFER_REGISTRATION_OPEN %}
          {% if WAFER_REGISTRATION_MODE == 'ticket' and not profile.is_registered  %}
            {% url 'wafer_ticket_claim' as register_url %}
          {% endif %}
          {% if WAFER_REGISTRATION_MODE == 'custom' %}
            {% url 'register' as register_url %}
            {% url 'unregister' as unregister_url %}
          {% endif %}
          {% if register_url %}
            <li><a href="{{ register_url }}" class="btn btn-secondary">{% if profile.is_registered %}{% trans 'Update registration' context "conference" %}{% else %}{% trans 'Register' context "conference" %}{% endif %}</a></li>
          {% endif %}
          {% if unregister_url and profile.is_registered %}
            <li><a href="{{ unregister_url }}" class="btn btn-secondary">{% trans 'Unregister' context "conference" %}</a></li>
          {% endif %}
        {% endif %}
        {% if WAFER_TALKS_OPEN %}
          <li><a href="{% url 'wafer_talk_submit' %}" class="btn btn-secondary">{% trans 'Submit Talk Proposal' %}</a></li>
        {% endif %}
      </ul>
    {% endif %}
  {% endblock side_menu %}
{% endwith %}
