{% load i18n %}
{% with profile=object.userprofile %}
  {# Accepted talks are globally visible #}
  {% if profile.accepted_talks.exists %}
    <section class="wafer-profile-talks wafer-profile-talks-accepted">
      <h2>{% trans 'Accepted Talks:' %}</h2>
      {% for talk in profile.accepted_talks %}
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ talk.get_absolute_url }}">
                {{ talk.title }}
              </a>
            </h3>
            <p>{{ talk.abstract }}</p>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {% if profile.cancelled_talks.exists %}
    <section class="wafer-profile-talks wafer-profile-talks-cancelled">
      <h2>{% trans 'Cancelled Talks:' %}</h2>
      {% for talk in profile.cancelled_talks %}
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ talk.get_absolute_url }}">
                {{ talk.title }}
              </a>
            </h3>
            <p>{{ talk.abstract }}</p>
          </div>
        </div>
      {% endfor %}
    </section>
  {% endif %}
  {# Submitted talk proposals are only visible to the owner #}
  {% if can_edit %}
    {% if profile.provisional_talks.exists %}
      <section class="wafer-profile-talks wafer-profile-talks-provisional">
        <h2>{% trans 'Provisionally Accepted Talks:' %}</h2>
        {% for talk in profile.provisional_talks %}
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">
                <a href="{{ talk.get_absolute_url }}">
                  {{ talk.title }}
                </a>
              </h3>
              <p>{{ talk.abstract }}</p>
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}
    {% if profile.pending_talks.exists %}
      <section class="wafer-profile-talks wafer-profile-talks-submitted">
        <h2>{% trans 'Submitted or Under Consideration Talks:' %}</h2>
        {% for talk in profile.pending_talks %}
          <div class="card">
            <div class="card-body">
              {% comment %}
                Because this is one of the author's pending talks, we don't
                need to check for edit permission's on the talk explictly.
                This doesn't show the edit button for people with 'change-talk'
                permissions, but we accept that tradeoff for simplicity here.
              {% endcomment %}
              <a href="{% url 'wafer_talk_edit' talk.pk %}"
                 class="float-end btn btn-secondary btn-lg">
                {% trans 'Edit' %}
              </a>
              <h3 class="card-title">
                <a href="{{ talk.get_absolute_url }}">
                  {{ talk.title }}
                </a>
              </h3>
              <p>{{ talk.abstract }}</p>
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  {% endif %}
{% endwith %}
