<!DOCTYPE html>
<html>
<head>
    <title>{{ WAFER_CONFERENCE_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/wafer.css" rel="stylesheet" media="screen">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "wafer/nav.html" %}
    <div id="main" class="container">
{% block content %}
    <h1>{{ WAFER_CONFERENCE_NAME }}</h1>
{% endblock %}
    </div>
    <script src="{{ STATIC_URL }}/js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    {% block extra_foot %}{% endblock %}
</body>
</html>
