{% load sponsors %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ WAFER_CONFERENCE_NAME }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css' %}" rel="stylesheet">
  <link href="{% static 'css/wafer.css' %}" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include "wafer/nav.html" %}
  <div id="main" class="container {% block container_class %}{% endblock %}">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert
            {% if message.tags == 'error' %}
                      alert-danger
            {% elif message.tags %}
                      alert-{{ message.tags }}
            {% endif %}">{{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% block content %}
      <h1>{{ WAFER_CONFERENCE_NAME }}</h1>
    {% endblock %}
  </div>
  {% sponsors %}
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  {% block extra_foot %}{% endblock %}
</body>
</html>
